.flexbox_container {
    display: flex;
}

.flex_item {
    width: 200px;
    margin: 10px;
    border: 3px solid #000;
    background-color: azure;
}

.flex1 {
    min-height: 100px;
    flex-shrink: 0;
}

.flex2 {
    min-height: 200px;
    flex-grow: 1;
}

.flex3 {
    min-height: 300px;
    align-self: center;
}

.flex4 {
    min-height: 400px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:inline-block;
    width: 100%;
}

ul li {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(26, 117, 207);
    opacity: 0.8;
    font-size: 25px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: hsl(0, 80%, 96%);
    display: block;
}

ul li a:hover {
    background-color: rgb(26, 162, 162);
    color: black;
}

ul li ul li {
    display: none;

}

ul li:hover ul li {
    display: block;
    font-size: medium;
}
